
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8>
          <ion-list>
    
              <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input [(ngModel)]="user.username" type="text" value=""></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input [(ngModel)]="user.password"  type="password" value=""></ion-input>
              </ion-item>  
            </ion-list>
            <button ion-button  (click) ="login(user)" >Login</button>
            <button ion-button  (click) ="fakeLogin(user)" >FakeLogin</button>
            <button ion-button  color="light" (click) ="register()" >Register</button>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
  </ion-grid>
  
    
    
      
   
</ion-content>


