<ion-header>
  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input [(ngModel)]="user.email" type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input [(ngModel)]="user.password"  type="password" value=""></ion-input>
  </ion-item>
</ion-list>
<button ion-button  color="primary" (click) ="register(user)" >Register</button>
</ion-content>
